body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    height: 100vh;
}

#screen {
    height: 100%;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#menubar-div {
    display: flex;
    width: 100%;
    background-color: red;
}

#page-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#page-iframe {
    display: flex;
    width: 100%;
}

