@import url("/global/catppuccin.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--crust);
    color: var(--text);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 
#screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#controls-div {
    background-color: var(--surface0);
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.control-button {
    border: 0;
    background-size: cover;
    width: 24px;
}

.control-button:hover {
    opacity: 0.6;
}

#history-back-button {
    background: url(/assets/arrow_back.svg);
}

#history-forward-button {
    background: url(/assets/arrow_forward.svg);
}

#reload-button {
    background: url(/assets/refresh.svg);
}

#search-button {
    background: url(/assets/search.svg);
}

#searchbar-input {
    flex: 1;
    background-color: var(--mantle);
    border-color: var(--mantle);
    color: var(--text);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#page-div {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    min-height: 0;
}

#page-iframe {
    flex: 1;
    width: 100%;
    border: 0;
}

