@import url("/global/catppuccin.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: var(--crust);*/
    background-color: #111111;
    color: var(--green);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#display {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
 
